<h3>游戏列表</h3>
<br>
<div class="row">
<div class="col-md-4">
<label for="adName"><b>新建一个游戏</b></label>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">起个名字吧：</span>
  <input type="text" class="form-control" id="adName" #adName aria-describedby="basic-addon3">
  <button (click)="add(adName.value); adName.value=''" type="button" class="btn btn-primary">确定</button>
</div>
</div>
</div>
<hr>
<div class="grid grid-pad">
  <a *ngFor="let game of games"  [routerLink]="['/tools/game_detail', game.app_id]"  class="col-1-4">
    <div class="module game">
      <h4>{{game.name}}</h4>
    </div>
  </a>
</div>

