<div *ngIf="game">
<div class="col-md-6">
<div class="row">
  <div class="col-md-8">
    <h3>游戏基本信息</h3>
  </div>
  <div class="col-md-4" align="right">
    <button (click)="goBack()" type="button" class="btn btn-secondary">返回</button>
  </div>
</div>
<br>
<table class="table table-striped">
<tbody>
  <tr>
    <th scope="row">游戏名字:</th>
    <td>{{game.name}}</td>
  </tr>
  <tr>
    <th scope="row">app_id</th>
    <td>{{game.app_id}}</td>
  </tr>
  <tr>
    <th scope="row">key:</th>
    <td>{{game.keys}}</td>
  </tr>
  <tr>
    <th scope="row">token:</th>
    <td>{{token}}</td>
  </tr>
</tbody>
</table>
<button (click)="deleteGame()" type="button" class="btn btn-danger">删除</button>
</div>
<hr>
<br>
<div class="col-md-10">
  <div class="row">
  <div class="col-md-6">
  <h3>广告规则设置</h3>
  </div>
  <div class="col-md-6" align="right">
    <button (click)="newRule()" type="button" class="btn btn-primary">新建规则</button>
  </div>
  </div>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>规则id</th>
        <th>广告名字</th>
        <th>product</th>
        <th>country</th>
        <th>更新规则</th>
        <th>删除规则</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rule of game.rules">
        <td>{{rule.rule_id}}</td>
        <td><a [routerLink]="['/tools/ad_detail', rule.ad_id]">{{rule.ad_name}}</a></td>
        <td>{{rule.product}}</td>
        <td>{{rule.country}}</td>
        <td><button (click)="updateRule(rule.rule_id)" type="button" class="btn btn-info">更新</button></td>
        <td><button (click)="deleteRule(rule.rule_id)" type="button" class="btn btn-danger">删除</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
