<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
		<div *ngIf="add;else update">
  		  <h3>新建广告规则</h3>
  		</div>
  		<ng-template #update>
  		  <h3>更新广告规则</h3>
  		</ng-template>
		</div>
		<div class="col-md-3" align="right">
			<button (click)="goBack()" type="button" class="btn btn-secondary">返回</button>
		</div>
	</div>
	<hr>
	<br>
	<div *ngIf="game">
	<!-- debug info : {{diagnostic}} -->
	<form (ngSubmit)="onSubmit()" #ruleForm="ngForm">
		<div class="form-group row">
			<div class="col-8" align="right"><button type="submit" class="btn btn-primary" [disabled]="!ruleForm.form.valid">提交</button></div>
		</div>
		
		<div class="form-group row">
			<label for="game_name" class="col-2 col-form-label">游戏名:</label>
			<div class="col-6"><input class="form-control" type="text" value="{{game.name}}" id="game_name" readonly></div>
		</div>
		<div class="form-group row">
          <label for="ad_id" class="col-2 col-form-label">选择广告:</label>
          <div class="col-6">
            <select class="form-control" name="ad_id" id="ad_id" [(ngModel)]="model.ad_id" required>
              <option *ngFor="let ad of ads" [value]="ad.id" >{{ad.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
		<label for="platform" class="col-3 col-form-label">选择平台:</label>
			<div *ngFor="let platform of platforms" class="col-4">
				<input class="form-check-input" type="checkbox" id="platform" name="platform" value="{{platform.value}}"   [checked]="platform.checked" (change)="platform.checked = $event.target.checked;clickPlatform()">{{platform.name}}
			</div>
		</div>
		<div class="form-group row">
		<label for="min_app_version" class="col-2 col-form-label">app版本选择:</label>
			<div class="col-2"><input class="form-control" type="text" value="{{model.min_app_version}}" [(ngModel)]="model.min_app_version" name="min_app_version" #min_app_version="ngModel" id="min_app_version" placeholder="4.2.000" required></div>
			<div [hidden]="min_app_version.valid || min_app_version.pristine"
             class="alert alert-danger">
          		min_app_version is required
        	</div>
        	<div class="col-2" align="center"><= app_version <=</div>
        	<div class="col-2"><input class="form-control" type="text" value="{{model.max_app_version}}" [(ngModel)]="model.max_app_version" name="max_app_version" #max_app_version="ngModel" id="max_app_version" placeholder="4.3.000" required></div>
			<div [hidden]="max_app_version.valid || max_app_version.pristine"
             class="alert alert-danger">
          		max_app_version is required
        	</div>
		</div>
		<div class="form-group row">
			<label for="product" class="col-2 col-form-label">product:</label>
			<div class="col-6"><input class="form-control" type="text" value="{{model.product}}" [(ngModel)]="model.product" name="product" #product="ngModel" id="product" placeholder="ffs.global.ios,ffs.cn.360" required></div>
			<div [hidden]="product.valid || product.pristine"
             class="alert alert-danger">
          		product is required
        	</div>
		</div>
		<div class="form-group row">
			<label for="startdate" class="col-2 col-form-label">起始时间(UTC):</label>
			<div class="col-2">
			<input class="form-control" type="date" [(ngModel)]="start_date" value="{{start_date}}" name="startdate" id="startdate" #startdate="ngModel" required/>
			</div><label for="startdate" class="col-2 col-form-label">00:00:00</label>
			<div [hidden]="startdate.valid || startdate.pristine"
             class="alert alert-danger">
          		start_date is required
        	</div>
		</div>
		<div class="form-group row">
			<label for="enddate" class="col-2 col-form-label">结束时间(UTC):</label>
			<div class="col-2">
			<input class="form-control" type="date" [(ngModel)]="end_date" name="enddate" id="enddate" #enddate="ngModel" required/>
			</div><label for="enddate" class="col-2 col-form-label">00:00:00</label>
			<div [hidden]="enddate.valid || enddate.pristine"
             class="alert alert-danger">
          		end_date is required
        	</div>
		</div>
		<div class="form-group row">
		<label for="country" class="col-2 col-form-label">选择国家:</label>
			<div class="col-6"><input class="form-control" type="text" value="{{model.country}}" id="country" readonly></div>
		</div>
		<div class="form-group row">
			<label class="col-2 col-form-label"></label>
			<div class="col-2">
				<input type="checkbox" class="form-check-input" name="allCountry" id="allCountry" [(ngModel)]="all_country" (change)="clickAllCounrty()">All Country
			</div>
		</div>
		<div class="row">
			<ul class="columns">
			<div *ngFor="let country of country_code">
				<li>
				<input type="checkbox" id="country" name="country" value="{{country.code}}" [checked]="country.checked" (change)="country.checked = $event.target.checked;clickCountry()" >{{country.country}}
				</li>
			</div>
			</ul>
		</div>
	</form>
	</div>
</div>