<div class="alert alert-success" role="alert">
	支持的 platform 参数
</div>
<div class="row">
<div class="col-1" *ngFor="let platform of platforms"><p>{{platform}}</p></div>
</div>

<div class="alert alert-success" role="alert">
	支持的 country 参数
</div>
<div class="row">
<div class="col-4" *ngFor="let wrap of country_wrap; let i = index;">
<table class="table table-bordered">
	<thead>
	<tr>
		<th>country</th>
		<th>说明</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let country_info of country_code | slice:wrap:country_slice[i]">
		<td>{{country_info.code}}</td>
		<td>{{country_info.country}}</td>
	</tr>
	</tbody>
</table>
</div>
</div>
