<div class="container-fluid">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">视频广告平台</a>
  <div class="col-md-1"></div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/tools/home" routerLinkActive="active" #myhome>主页</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/tools/doc" routerLinkActive="active">文档</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/swagger/#" target="_blank">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"routerLink="/tools/home" routerLinkActive="active">账号</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row">
<div class="col-md-2">
<app-side-bar></app-side-bar>
</div>
<div class="col-md-10">
<router-outlet></router-outlet>
</div>
</div>

</div>