<div class="container-fluid">
<form (ngSubmit)="loginAction()" #ruleForm="ngForm">
    <div class="form-group row">
      <div class="col-4">
      </div>
      <label for="user_name" class="col-1 col-form-label">用户名:</label>
      <div class="col-2"><input class="form-control" type="text" [(ngModel)]="user_name" name="user_name" #userName="ngModel" id="user_name" required></div>
      <div [hidden]="userName.valid || userName.pristine"
             class="alert alert-danger">
             请填写用户名
      </div>
    </div>
    <div class="form-group row">
      <div class="col-4">
      </div>
      <label for="user_password" class="col-1 col-form-label">密码:</label>
      <div class="col-2"><input class="form-control" type="text" [(ngModel)]="user_password" name="user_password" #userPassword="ngModel" id="user_password" required></div>
      <div [hidden]="userPassword.valid || userPassword.pristine"
             class="alert alert-danger">
              请填写密码
      </div>
    </div>
    <div class="form-group row">
      <div class="col-7" align="right"><button type="submit" class="btn btn-primary" [disabled]="!ruleForm.form.valid">提交</button></div>
    </div>
</form>
</div>
