<div class="col-md-6">
<div *ngIf="ad">
  <div class="row">
  <div class="col-md-8">
  <div *ngIf="add;else update">
    <h3>新建 {{ad.name}}</h3>
  </div>
  <ng-template #update>
    <h3>更新 {{ad.name}}</h3>
  </ng-template>
  </div>
  <div class="col-md-4" align="right">
    <button (click)="goBack()" type="button" class="btn btn-secondary">返回</button>
  </div>
  </div>
  <table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">广告名字:</th>
      <td> <input [(ngModel)]="ad.name" (keyup)="onKey($event)" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">视频url:</th>
      <td><input [(ngModel)]="ad.video_url" (keyup)="onKey($event)" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">定帧图片url:</th>
      <td><input [(ngModel)]="ad.image_url" (keyup)="onKey($event)" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">ios link:</th>
      <td><input [(ngModel)]="ad.ios_link" (keyup)="onKey($event)" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">android link:</th>
      <td><input [(ngModel)]="ad.android_link" (keyup)="onKey($event)" type="text" class="form-control" /></td>
    </tr>
  </tbody>
  </table>
<div class="row">
  <div class="col-md-6">
    <button (click)="delete()" type="button" class="btn btn-danger">删除</button>
  </div>
  <div class="col-md-6" align="right">
    <button (click)="save()" [disabled]="disableSave" type="button" class="btn btn-primary">保存</button>
  </div>
</div>
</div>
</div>
